<nav class="cyan">
  <div class="container nav-wrapper">
    <a href="/" class="brand-logo"> Notes </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/notes">All Notes</a></li>
    </ul>
  </div>
</nav>
